@import '../../node_modules/margo-css/margo.scss';


html {
  font-size: 14px;
}

.modalContainer{
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(100, 100, 100, .5);
  z-index: 1500;
  top: 0;
  left: 0;
  &.showing{
    display: block;
  }
}
.modalWindow{
  background-color: #d1eeee;
  padding: 1rem;
}
// * {
// // 	font-family: Helvetica, Arial, sans-serif;
//  // 	box-sizing: border-box;
// }
//
// h1 {
// 	font-size: 300px;
// 	text-align: center;
// 	color: fuchsia;
// }

/*
/////////////original styling down here//////////////////
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
*/
// .autoComplete{
//   outline: 1p black solid;
// }
// .acList{
//   margin-top: 17px;
//   padding: 22px;
//   outline-style: solid;
//   outline-color: gray;
//   outline-width: thin;
// }
//
// .acIMG{
//   max-width: 33%;
// }
